* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}
/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografías
4. Visuales
5. Otros
*/
:root {
    /* Colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623 ;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title_container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title_container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title_container p {
    margin-top: 25px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title_container .header__button {
    position: absolute;
    left: calc(50% - 113px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main_exchange_container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main_exchange_container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

/* Slider de las Tablas */

.main_tables_container {
    display: flex;
    height: 360px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    
}

.main_currency_table {
    scroll-snap-align: center;
    height: 90%;
    vertical-align: 0 auto;
}


.main_exchange_container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 80px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_exchange_container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main_exchange_container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;

}

/* Primera tabla */


.main_currency_table, .main_commission_table {  
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}
.main_currency_table .currency_table__title, .main_commission_table .commission_table__title { 
   margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main_commission_table .commission_table__title {
    color: var(--secondary-blue)
}

.currency_table__container, .commission_table__container { 
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency_table__container table, .commission_table__container table{  
    width: 100%;
    height: 100%;
}
.currency_table__container td, .commission_table__container td{  
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency_table__container .table__top_left, .commission_table__container .table__top_left{  
    border-radius: 15px 0 0 0;
}
.currency_table__container .table__top_right, .commission_table__container .table__top_right{  
    border-radius: 0 15px 0 0;
}
.currency_table__container .table__bottom_left, .commission_table__container .table__bottom_left{  
    border-radius: 0 0 0 15px;
}
.currency_table__container .table__bottom_right, .commission_table__container .table__bottom_right{  
    border-radius: 0 0 15px 0;
}
.currency_table__container .table__right, .commission_table__container .table__right{  
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency_table__container .down, .currency_table__container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency_table__container .up {
    background-image: url(/assets/icons/trending-up.svg);
}

.currency_table__date, .commission_table__date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding-top: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}
.currency_table__date p, .commission_table__date p {
    color: var(--warm-black);
    font-weight: 300;
}

.main_product_detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--warm-black);
}

.product_detail__batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("./assets/icons/batata.svg");
    
}
.product_detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product_detail__title h2 {
    padding-top: 54px;
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product_detail__title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #565656;
}

/* Tarjeta 1 */

.product_detail__card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black) ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product_detail__card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("./assets/icons/clock.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product__card_title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product__card_body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}



/* Tarjeta 2 */
.product_detail__card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("/assets/icons/eye.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Tarjeta 3 */
.product_detail__card .dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url("/assets/icons/dollar-sign.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Tarjeta 4 */
.product_detail__card .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/assets/icons/check-circle.svg");

}
.bitcoin_img_container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url("/assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin_img_container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main_plans_container {
    width: 100%;
    min-width: 320px;
    padding: 65px 0;
    text-align: center;
    background-color: #E5E5E5;
}
.plans__title  {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans__title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans__title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575
}

.plans_container__slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans_container__card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 290px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}

.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
}
.plan_card__title  {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan_card__price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5,3rem;
    color: black;

}
.plan_card__price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan_card__saving {
    font-size: 1.2rem;
    color: #757575;

}


/* Tarjeta 2 */
.basico {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--secondary-blue);
    border-radius: 8px;
    color: var(--just-white);
}


/* Tarjeta 3 */

.ilimitado {
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;
    background-color: var(--grey);
    border-radius: 8px;
    color: var(--warm-black);
}

.plan_card__titletres {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
}

.plan_card__pricetres {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5,3rem;
    color: white;
}

.plans_container__cardtercera {
    position: relative;
    width: 70%;
    min-width: 290px;
    max-width: 300px;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: var(--black);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}

/* Botones */

.plan_card__ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black)
}
.plan_card__ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;

}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}